<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [

<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">

]>
<beans>

	<bean id="teacherDao" class="wms.dao.TeacherDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="teacherManagerBase" class="wms.service.TeacherManager">
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>

	<!-- id="controller中@Resource(name="teacherManager")"  parent="hibernate事物配置id"-->
	<bean id="teacherManager" parent="transactionBase">
		<property name="target" ref="teacherManagerBase"></property>
	</bean>


</beans>
